*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
p{
    margin: 0px;
}
.clear{
    clear: both;
}
.center{
    width: 1349px;
    margin: 0 auto;
}
.header{
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    overflow: hidden;
}
.taikhoan{
    width: 100%;
    height: 30px;
    background-color: #cd1818;
    text-align: right;
    padding-right: 40px;
    padding-top: 5px;
}

.taikhoan span{
    display: inline-block;
    padding:0px 15px;
    font-size: 15px;
}
.taikhoan #dangki{
    padding: 0px 14px;
    border-right: 1px solid #fff;
}
.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}
.taikhoan #name_user img{
    width: 20px;
    border-radius: 20px;
    margin-right: 5px;
}
.taikhoan #dangki, #thongtin, #name_user {
    padding: 0px 14px;
    border-right: 1px solid #fff;
}
.taikhoan span a{
    color: #fff;
}
.taikhoan span a:hover{
    text-decoration: none;

}
.taikhoan span a:active{
    color: #f57124
}
.logo-search{
    width: 100%;
    height: 80px;
    background-color: #cd1818;

}
#thongtin {
    position: relative;
}

#thongtin:hover .doimk {
    display: block;
}

.doimk {
    display: none;
    position: absolute;
    left: -15px;
    z-index: 1;
    background-color: white;
    width: 173px;
}

.doimk li {
    list-style: none;
    padding-left: 20px;
    text-align: left;
    padding: 10px;
}

.doimk a li {
    color: #000;
}

.doimk li:hover {
    background-color: rgb(245, 239, 239);
}

.full {
    background-color: #f5f5f5;
    width: 1349px;
    height: 600px;
    padding: 50px;
}
.title_mk{
    margin-bottom: 40px;
}
.can_thongtin_tk {
    width: 980px;
    background-color: #fff;
    padding: 20px;
    min-height: 450px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.13);
}

.can_thongtin_tk form {
    width: 700px;
    margin: 0 auto;
    margin-top: 40px
}
.logo-search .logo{
    display: inline-block;
    margin-left: 67px;
}
.logo-search .search{
    display: inline-block;
}
.logo-search .search form{
    position: relative;
    margin: 0px 20px;
    margin-right: 80px
}
.logo-search .search input[type="text"]{
    width: 700px;
    height: 38px;
    padding-left: 20px;
   border: none;
   border: 1px solid white;
}
.logo-search .search button{
    height: 34px;
    position: absolute;
    right: 0px;
    top: 2px;
    right: 2px;
    border: none;
    border: 1px solid white;
    width: 70px;
    background-color: #f57124;
}
.logo-search .search button:hover{
    cursor: pointer;
}
.banner{
    
    margin: 20px auto;
    width: 90%;
    height: 400px;
    margin-top: 135px
  
  
}
.menu{
    width: 100%;
    height: 36px;
    background-color: #12243b;
    margin-bottom: 20px;
    line-height: 36px;
}
.menu ul{
    margin-left: 45px;
}
.menu ul li{
    float: left;
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    display:block;
    padding: 0px 20px;
    color: #fff;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif
    
}
.menu ul li a:hover{
    color: gray;
}
.main{
    width: 1100px;
    margin: 20px auto;
    margin-bottom: 80px;
}
.main .title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 40px;
    font-weight: bold;
    margin: 50px 0px;
}
.detail{
    width: 900px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.detail-images{
    text-align: center;
}
.detail-status{
    padding-left: 100px;
}
.detail-status form input[type="text"]{
    border: none;
    border:1px solid gray;
    border-radius: 10px;
    padding-left: 10px;
}
.detail-status form input[type="submit"]{
    font-size: 15px;
    padding: 5px 20px;
    border: 1px solid #525151;
    border-radius: 30px;
    transition: 0.5s;
    color: #000;
}
.detail-status form input[type="submit"]:hover{
    background-color: #000;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
.detail-status h3{
 
}
.detail-status ul li{
    list-style: none;
}
.detail-status ul li span{
    font-size: 18px;
    color: red;
    font-weight: bold;
}
.more-information{
    margin: 30px 0px;
}
.more-information .title-information p{
    font-weight: bold;
    font-size: 20px;
}
.more-information .thongtin p{
    text-indent: 30px;
    line-height: 1.9;
    text-align: justify;
    margin: 20px 0px;
}
.commnet {
}
.commnet .title-commnent{
    background-color: rgb(243, 243, 243);
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    font-size: 20px;
}
.commnet>ul li{
    list-style: none;
    min-height: 110px;
    border-bottom: 1px solid #cacaca;
    padding: 30px 0px;
}
.commnet>ul li .img-user{
    width: 40px;
    height: 40px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
}
.commnet ul li h2{
font-size: 15px;
font-weight: bold;
margin: 0px;
}
.commnet>ul li span{
    color: #767676;
    font-size: 12px;
}
.commnet>ul li p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-left: 50px;
}
.comment-send{
    height: 100px;
    margin: 30px 0px;
}
.comment-send textarea{
    padding: 10px;
    width: 100%;
}
.comment-send input[type="submit"]{
   float: right;
   width: 50px;
}
.phantrang{
    margin-left: 400px;
}
.titel-same-products{
    background-color: rgb(243, 243, 243);
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    font-size: 20px;
}
.same-products{
    height: 310px;
}
.same-products ul li .anhsp{
    width: 150px;
    height: 150px;
    line-height: 170px;
    margin: 0 auto;
}
.same-products ul li{
    width: 20%;
    padding: 20px;
    list-style: none;
    float: left;
    text-align: center
}
.same-products ul li a h5{
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    line-height: 18px;
    height: 38px;
    overflow: hidden;
}
.same-products ul li a{
    text-decoration: none;
}
.same-products ul li a p{
    font-size: 16px;
    color: #f40606;
    font-weight: 700;
    display: block;
}
.same-products ul li a span{
    display: block;
font-size: 12px;
text-decoration: line-through;
color: #888;
margin-bottom: 8px;
height: 16px;
}
.footer-3{
    height: 315px;
    background-color: #2a2d34;
}
.footer-3-center {
    width: 1220px;
    margin: 0 auto;
 
    height: 265px;
    border-bottom: 1px solid #d3d3d3;
  }
  
  .ul-1 {
    width: 270px;
    margin-top: 20px; /*ở đây nè*/
   float: left;
   
  }

 .ul-1 li{
    display:inline-block;
    margin: 6px;
   margin-left: 0px;
   
}
.ul-1 li a{
    text-decoration: none;
    color:#ffffff;
}
.lienhe{
    height: 315px;
    width: 300px;
    float: right;
    margin-top: 22px;
}
.lienhe input{
    width: 275px;
    margin-bottom: 10px;
    height: 25px;
}
.lienhe .email{
    width: 275px;
    height: 100px;
   
}
 input.nhap{
height: 25px;
width: 80px;
margin-right: 10px;
}
input.nhap2{
    width: 40px;
    margin-left: 80px;
    color: #ffffff;
    background-color: #a12f35;
    border: none;


}
.lienhe ul li{
    display: inline-block;

}
.lienhe p{
    margin-top: 4px;
    color: white;
}
.footer-4 p{
margin-top: 14px;
margin-left: 65px;
color: white;
}