* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

p {
    margin: 0px;
}

.clear {
    clear: both;
}

.center {
    width: 1349px;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    overflow: hidden;
}

.taikhoan {
    width: 100%;
    height: 30px;
    background-color: #cd1818;
    text-align: right;
    padding-right: 40px;
    padding-top: 5px;
}

.taikhoan span {
    display: inline-block;
    padding: 0px 15px;
    font-size: 15px;
}

.taikhoan #dangki, #thongtin, #name_user {
    padding: 0px 14px;
    border-right: 1px solid #fff;
}

.taikhoan #name_user img {
    width: 20px;
    border-radius: 20px;
    margin-right: 5px;
}

.taikhoan span>a {
    color: #fff;
}

.taikhoan span a:hover {
    text-decoration: none;
}

.taikhoan span a:active {
    color: #f57124
}

.logo-search {
    width: 100%;
    height: 80px;
    background-color: #cd1818;
}

.logo-search .logo {
    display: inline-block;
    margin-left: 67px;
}

.logo-search .search {
    display: inline-block;
}

.logo-search .search form {
    position: relative;
    margin: 0px 20px;
    margin-right: 80px
}

.logo-search .search input[type="text"] {
    width: 700px;
    height: 38px;
    padding-left: 20px;
    border: none;
    border: 1px solid white;
}

.logo-search .search button {
    height: 34px;
    position: absolute;
    right: 0px;
    top: 2px;
    right: 2px;
    border: none;
    border: 1px solid white;
    width: 70px;
    background-color: #f57124;
}

.logo-search .search button:hover {
    cursor: pointer;
}

#thongtin {
    position: relative;
}

#thongtin:hover .doimk {
    display: block;
}

.doimk {
    display: none;
    position: absolute;
    left: -15px;
    z-index: 1;
    background-color: white;
    width: 173px;
}

.doimk li {
    list-style: none;
    padding-left: 20px;
    text-align: left;
    padding: 10px;
}

.doimk a li {
    color: #000;
}

.doimk li:hover {
    background-color: rgb(245, 239, 239);
}

.full {
    background-color: #f5f5f5;
    width: 1349px;
    min-height: 600px;
    padding: 50px;
}
.title_mk{
    margin-bottom: 40px;
}
.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}
.can_thongtin_tk {
    width: 980px;
    background-color: #fff;
    padding: 20px;
    min-height: 450px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.13);
}

.can_thongtin_tk form {
    width: 700px;
    margin: 0 auto;
    margin-top: 40px
}

.banner {
    margin: 20px auto;
    width: 90%;
    height: 400px;
    margin-top: 135px
}

.menu {
    width: 100%;
    height: 36px;
    background-color: #12243b;
    margin-bottom: 20px;
    line-height: 36px;
}

.menu ul {
    margin-left: 45px;
}

.menu ul li {
    float: left;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    display: block;
    padding: 0px 20px;
    color: #fff;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif
}

.menu ul li a:hover {
    color: gray;
}

.main {
    width: 1200px;
    margin: 20px auto;
    margin-bottom: 80px;
}

.main-left {
    min-height: 500px;
}

.main-left .sanpham {
    border-bottom: 1px solid brown
}

.main-left .sanpham p {
    display: inline-block;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 2px solid brown;
    margin: 0px;
}

.main-left>ul li {
    width: 25%;
    padding: 20px;
    list-style: none;
    float: left;
    height: 320px;
}

.main-left>ul li a {
    text-decoration: none;
}

.main-left>ul li a .anhsp {
    width: 170px;
    height: 170px;
    line-height: 183px;
}

.main-left>ul li a h5 {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    line-height: 18px;
    height: 55px;
    overflow: hidden;
    margin-top: 10px;
}

.main-left>ul li a p {
    font-size: 19px;
    color: #f40606;
    font-weight: 700;
    display: block;
}

.main-left>ul li a span {
    display: block;
    font-size: 14px;
    text-decoration: line-through;
    color: #888;
    margin-bottom: 8px;
    height: 16px;
}

.main-left .phantrang {
    margin-left: 400px;
    margin-top: 20px;
}

.main-right {
    min-height: 500px;
}

.category, .products-xn {
    border: 1px solid rgb(228, 228, 228);
    box-shadow: 5px 5px 10px rgb(197, 195, 195);
    margin-bottom: 40px;
}

.category-title {
    background-color: #12243b;
    width: 100%;
    color: white;
    height: 35px;
    line-height: 35px;
    padding-left: 20px;
}

.category-title span {
    margin-left: 30px;
}

.main-right .category ul li {
    list-style: none;
    height: 40px;
    line-height: 40px;
    padding-left: 30px;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.main-right .category ul {
    height: 285px;
    overflow: hidden;
}

.main-right .category ul li:hover {
    background-color: rgb(241, 237, 237);
}

.main-right .category ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
}

.main-right .category .category-search {
    position: relative;
}

.main-right .category .category-search input[type="text"] {
    width: 100%;
    padding-left: 40px;
    height: 40px;
}

.main-right .category .category-search .fa-sistrix {
    position: absolute;
    top: 10px;
    left: 10px;
}

.products-xn ul li {
    padding-left: 20px;
    list-style: none;
    height: 87px;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.products-xn ul li .products-xn-img {
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin-right: 5px;
    float: left;
}

.products-xn ul li .products-xn-img img {
    width: 100%;
}

.products-xn ul li a {
    text-decoration: none;
}

.products-xn ul li h5 {
    width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    padding-top: 10px;
    font-weight: bold;
    color: #000;
}

.products-xn ul li a del {
    margin-right: 20px;
    display: inline-block;
    width: 75px;
}

.products-xn ul li p {
    font-size: 13px;
    color: #f40606;
    font-weight: 700;
    display: block;
    margin: -4px 0px;
}

.products-xn ul li span {
    font-size: 12px;
    color: #888;
}

.footer-3 {
    height: 315px;
    background-color: #2a2d34;
}

.footer-3-center {
    width: 1220px;
    margin: 0 auto;
    height: 265px;
    border-bottom: 1px solid #d3d3d3;
}

.ul-1 {
    width: 270px;
    margin-top: 20px;
    /*ở đây nè*/
    float: left;
}

.ul-1 li {
    display: inline-block;
    margin: 6px;
    margin-left: 0px;
}

.ul-1 li a {
    text-decoration: none;
    color: #ffffff;
}

.lienhe {
    height: 315px;
    width: 300px;
    float: right;
    margin-top: 22px;
}

.lienhe input {
    width: 275px;
    margin-bottom: 10px;
    height: 25px;
}

.lienhe .email {
    width: 275px;
    height: 100px;
}

input.nhap {
    height: 25px;
    width: 80px;
    margin-right: 10px;
}

input.nhap2 {
    width: 40px;
    margin-left: 80px;
    color: #ffffff;
    background-color: #a12f35;
    border: none;
}

.lienhe ul li {
    display: inline-block;
}

.lienhe p {
    margin-top: 4px;
    color: white;
}

.footer-4 p {
    margin-top: 14px;
    margin-left: 65px;
    color: white;
}