/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    font-size: 13px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.7em;
    color: rgb(10, 10, 10);
}
.container-fluid {
    min-height:516px;
}
.center{
    width: 1349px;
    margin: 0 auto;
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.header{
    height: 50px;
    background-color: rgb(56, 55, 55);
}
.header h3{
    font-size: 20px;
    margin-left: 30px;
    color: white;
    line-height: 50px;
    display: inline-block;
    
}
.dangnhap{
    float: right;
    margin-top: 10px;
    margin-right: 100px;
}
.dangnhap span{
    margin-left: 20px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
.clear{
    clear: both;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    width: 20%;
   min-height: 888px;
    background: #393d3b;
    color: #fff;
    transition: all 0.3s;
    margin-bottom: 0px;
    float: left;

}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 10px;
    background: #393d3b;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    padding-left: 20px;
    font-size: 1em;
    display: block;
}
.form-group{
    margin-top: 30px;
}

#sidebar ul li a:hover {
    color: white;
    background: black;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #393d3b;
}
#sidebar ul li.active>a:hover{
    background-color:#6e726f;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6e726f;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
.footer{
    height: 60px;
background-color: #393d3b;
text-align: center;

}
.main-right{
    float: right;
    width: 80%;
    min-height: 550px;
    overflow: auto;
}
.footer h3{
    line-height: 60px;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */



/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
.phantrang{
    margin: 0 auto;
}
.phantrang li.page-item{
    float: left;
}